<form [formGroup]="form" (ngSubmit)="save()">
  <div class="field-group">
    <label>{{ 'form.milestone.title' | translate }}</label>
    <input formControlName="title" />
  </div>

  <div class="field-group">
    <label>{{ 'form.milestone.description' | translate }}</label>
    <textarea rows="2" formControlName="description"></textarea>
  </div>

  <fieldset formGroupName="date">
    <legend>{{ 'form.milestone.date' | translate }}</legend>
    <label>{{ 'form.project.year' | translate }}</label>
    <input type="number" formControlName="year" />
    <label>{{ 'form.project.month' | translate }}</label>
    <input type="number" min="0" max="11" formControlName="month" />
    <label>{{ 'form.project.week' | translate }}</label>
    <input type="number" min="0" max="3" formControlName="week" />
  </fieldset>

  <div class="form-actions">
    <button class="btn primary" type="submit">{{ 'form.milestone.submit' | translate }}</button>
    <button class="btn ghost" type="button" (click)="cancelEdition()">{{ 'common.cancel' | translate }}</button>
  </div>
</form>
