.color-red {
  color: red;
}

.color-orange {
  color: orange;
}

:root {
  --bold-border-color: darkgray;
  --bold-border-size: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.task {
  background-color: green;
}

.task:hover {
  background-color: darkgreen;
}

.header > th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.bold-border > tr > *:first-child {
  border-left-width: 2px;
  border-left-color: var(--bold-border-color);
}

.bold-border > tr > * {
  border-top-width: 2px;
  border-top-color: var(--bold-border-color);
  border-bottom-width: 2px;
  border-bottom-color: var(--bold-border-color);
}

.bold-border > tr > *:last-child {
  border-right-width: 2px;
  border-right-color: var(--bold-border-color);
}

.bold-border-right {
  border-right-width: 2px;
  border-right-color: var(--bold-border-color);
}

.bold-border-bottom {
  border-bottom-width: 2px;
  border-bottom-color: var(--bold-border-color);
}

.selected {
  background-color: #00b0f0;
}

.not-visible {
  visibility: hidden;
  height: 1px;
  width: 1px;
  display: block;
  float: right;
}
